.landing {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #2c2c2c;
    color: #2fa1d6;
}

.landing-img {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(images/arks_logo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.landing-app-version {
    position: fixed;
    padding: 10px;
    font-size: 20px;
    opacity: 0;
}

.landing-help {
    position: fixed;
    right: 0;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 72px;
    text-shadow: none;
    opacity: 0;
}

.landing-img-ready {
    transition: 0.5s;
    transform: scale(0.8);
}

.landing-sample {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    width: 30%;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    cursor: pointer;
}

.landing-menu {
    text-shadow: none;
    min-width: 290px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
}

.landing-menu div {
    display: inline-block;
    margin: 40px;
    font-size: 72px;
    transition: 0.3s;
}

.landing-menu div:hover {
    transform: scale(2);
}

.loading {
  -moz-animation: swing 2s linear infinite;
  -moz-animation-timing-function: ease-out;
  -webkit-animation: swing 2s linear infinite;
  -webkit-animation-timing-function: ease-out;
  animation: swing 2s linear infinite;
  animation-timing-function: ease-out;
  transition: 0.5s ease-in-out;
}

@-moz-keyframes swing{
  0% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  20% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  40% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  60% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
  80% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@-webkit-keyframes swing{
  0% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  20% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  40% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  60% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
  80% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes swing{
  0% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  20% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  40% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  60% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
  80% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}