<div class="disable-select" style="text-shadow: 0px 0px 2px #3c3c3c;bottom: 10pt; position: fixed; left: 10pt; opacity: 0.95; transition: all 0.1s ease-in-out 0s;" oncontextmenu="return false;">
    <div id="centerbutton" style="transition: 0.1s;text-shadow: none;box-shadow: 0px 0px 2px #3c3c3c;height: 60pt;width: 60pt;background: white;border-radius: 30pt;">
        <div style="position: absolute;left: 50%;top: 50%;">
            <i style="font-size: 28pt;transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(50%);color: #3c3c3c;" class="fas fa-layer-group fa-fw"></i>
        </div>
    </div>

    <div style="position: absolute;left: 40%;bottom: 140%;">
        <i id="northbutton" style="font-size: 24pt;transform: translateX(-50%) translateY(50%);-ms-transform: translateX(-50%) translateY(50%);" class="fas fa-plus fa-fw"></i>
    </div>

    <div style="position: absolute;left: 120%;bottom: 120%;">
        <i id="northeastbutton" style="font-size: 24pt;transform: translateX(-50%) translateY(50%);-ms-transform: translateX(-50%) translateY(50%);" class="fas fa-object-group fa-fw"></i>
    </div>

    <div style="position: absolute;left: 140%;bottom: 40%;">
        <i id="eastbutton" style="font-size: 24pt;transform: translateX(-50%) translateY(50%);-ms-transform: translateX(-50%) translateY(50%);" class="fas fa-trash fa-fw"></i>
    </div>
</div>