<div style="height: 106pt;width: 281pt;position: fixed;display: inline-block;bottom: 5pt;left: -282pt;transition: all 0.1s ease-in-out 0s;">

    <div style="background: #4d4d4d;opacity: 0.95;width: 100%;height: 100%;border-radius: 12pt;"></div>

    <div style="position: absolute;top: 10pt;left: 10pt;">
        <i id="backbutton" style="font-size: 24pt;" class="gradient-text fas fa-arrow-left fa-fw"></i>
    </div>

    <div style="position: absolute;bottom: 10pt;left: 12pt;">
        <img id="assetpreview" class="disable-select" style="width: 26pt;">
    </div>

    <div id="flipxbutton" class="custom-icon" style="position: absolute;top: 12pt;left: 45pt;mask-image: url('res/flipX.svg');-webkit-mask-image: url('res/flipX.svg');width: 22pt;height: 22pt;background: linear-gradient(#fff, #f0f0f0);"></div>
    <div id="flipybutton" class="custom-icon" style="position: absolute;top: 40pt;left: 45pt;mask-image: url('res/flipY.svg');-webkit-mask-image: url('res/flipY.svg');width: 22pt;height: 22pt;background: linear-gradient(#fff, #f0f0f0);"></div>
    <i id="rotatebutton" style="position: absolute;bottom: 17pt;left: 46pt;font-size: 16pt;" class="gradient-text fas fa-sync-alt fa-fw"></i>

    <div style="position: absolute;left: 74pt;top: 16pt;width: 2pt;height: 74pt;background: white;border-radius: 1pt;opacity: 0.25;"></div>

    <div id="carousel" style="position: absolute;left: 82pt;top: 10pt;height: 86pt;width: 190pt;overflow-x: hidden;overflow-y: scroll;scrollbar-width: thin;scrollbar-color: rgba(255,255,255,0.2) rgba(0,0,0,0);">
    </div>

</div>