<div style="display: grid;grid-gap: 10pt;margin-top: 16pt;transition: all 0.1s ease-in-out 0s;">
    <i id="importexportbutton" title="Open options screen" style="font-size: 18pt;width: 100%;" class="fas fa-arrow-alt-circle-down fa-fw"></i>
    <i id="helperimagebutton" title="Open bottom left helper image action bar" style="font-size: 18pt;width: 100%;" class="fas fa-image fa-fw"></i>
    <i id="soundbutton" title="Open sound options screen" style="font-size: 18pt;width: 100%;" class="fas fa-music fa-fw"></i>
    <i id="helpbutton" title="Open github website to seek help" style="font-size: 18pt;width: 100%;" class="fas fa-question fa-fw"></i>
</div>