
<div class="arrow-right" style="width: 23pt;height: 23pt;float: left;margin: 5px;border-radius: 20%;background: black;overflow: hidden;box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 20%);">
    <div style="width: 100%;height: 100%;">
        <div id="colorpreviewopacity" style="background: black;transform: translate(52%, 1%) rotateZ(45deg);width: 71%;height: 142%;opacity: 0.9;border: 1px solid white;" class="arrow-left"></div>
    </div>
    <div class="disable-select" style="width: 84%;display: block;bottom: 44%;position: relative;text-align: right;font-size: 7pt;left: 8%;text-shadow: 0 0 4px black;">
        <span>x</span><span id="colorpreviewusecount">0</span>
    </div>
</div>
