<div class="disable-select" style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;opacity: 0.95;background: #3c3c3c;z-index: 1000;transition: all 0.25s ease-in-out 0s;" oncontextmenu="return false;">

    <div style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);max-width: 720px;font-weight: bold;min-width: 360px;text-align: center;">

        <h3>Helper Image</h3>
        <div style="font-size: 12px;">USED AS REFERENCE WHILE DRAWING.<br/>THIS IMAGE IS NOT PART OF THE FINAL ART.</div>

        <div style="display: grid;grid-template-columns: max-content auto;margin-top: 16px;">
            <div style="text-align: right;padding: 5px 10px 5px 0px;">LOCAL FILE</div>
            <div id="importimagefromdevicebutton" style="padding: 5px 10px;background: white;color: #3c3c3c;border-radius: 12px;">IMPORT</div>
        </div>
        <div style="text-align: right;font-size: 10px;margin-top: 6px;">SELECT IMAGE FROM THE DEVICE</div>

        <div id="closebutton" style="padding: 5px 10px 5px 10px;background: white;color: #3c3c3c;border-radius: 12px;margin-top: 12px;">CLOSE</div>

    </div>

</div>