<div class="disable-select" style="z-index: 10;height: 106pt;width: 132pt;position: fixed;display: inline-block;bottom: 5pt;left: -282pt;transition: all 0.1s ease-in-out 0s;">

    <div style="background: #4d4d4d;opacity: 0.95;width: 100%;height: 100%;border-radius: 12pt;"></div>

    <div style="position: absolute;top: 10pt;left: 10pt;">
        <i id="backbutton" style="font-size: 24pt;" class="gradient-text fas fa-arrow-left fa-fw"></i>
    </div>

    <div style="position: absolute;top: 12pt;left: 50pt;">
        <i title="highlight helper image (keyboard: B)" style="font-size: 18pt;" class="gradient-text fas fa-low-vision fa-fw"></i>
    </div>
    <div id="highlightswitch" style="position: absolute;top: 12pt;left: 85pt;height: 17pt;width: 31pt;border: #fff 1pt solid;border-radius: 12pt;transition: 0.2s ease-in-out;">
        <div id="highlightswitchindicator" style="pointer-events: none;background: linear-gradient(#fff, #f0f0f0);position: absolute;top: 1.5pt;left: 1.5pt;height: 14pt;width: 14pt; border-radius: 13pt;transition: inherit;"></div>
    </div>
    
    <div style="position: absolute;top: 43pt;left: 50pt;">
        <i title="use green screen" style="font-size: 18pt;color: #50c878;" class="fas fa-fill fa-fw"></i>
    </div>
    <div id="greenscreenswitch" style="position: absolute;top: 43pt;left: 85pt;height: 17pt;width: 31pt;border: #fff 1pt solid;border-radius: 12pt;transition: 0.2s ease-in-out;">
        <div id="greenscreenswitchindicator" style="pointer-events: none;background: linear-gradient(#fff, #f0f0f0);position: absolute;top: 1.5pt;left: 1.5pt;height: 14pt;width: 14pt; border-radius: 13pt;transition: inherit;"></div>
    </div>

    <div style="position: absolute;bottom: 12pt;left: 14pt;">
        <i title="helper image transparency" style="font-size: 18pt;" class="gradient-text fas fa-adjust fa-fw"></i>
    </div>
    <div id="alphaslidercontainer" style="position: absolute;bottom: 13pt;left: 39pt;height: 15pt;width: 88.5pt;">
        <div id="alphaslider" style="pointer-events: none;position: absolute;bottom: 0pt;left: 10pt;height: 15pt;width: 66.5pt;border: #fff 1pt solid;border-radius: 12pt;overflow: hidden;">
            <div id="alphasliderbar" style="pointer-events: none;height: 100%;width: 80%;background: white;background-image: linear-gradient(to right, #3c3c3c, #ccc);"></div>
        </div>
    </div>

</div>