<div style="opacity: 0;transition: 0.2s ease-in-out;position: absolute;width: 100%;height: 100%;top: 0;left: 0;padding-top: 20px;z-index: 10000;background: rgba(60, 60, 60, 0.5);text-align: center;">
    <div style="max-width: 400px;width: 50%;position: fixed;left: 50%;transform: translateX(-50%);">
        <div id="textfieldtitle" style="font-size: 20px;"></div>
        <input id="textfield" type="text" style="outline: none;font-family: Verdana;width: 100%;margin-top: 10px;padding: 5px 0px;border: none;font-size: 18px;color: #3c3c3c;border-radius: 8px;text-align: center;">
        <div id="textfieldclosebutton" style="border-radius: 8px;background: white;margin-top: 10px;color: #3c3c3c;font-weight: bold;padding: 4px;">CLOSE</div>
    </div>
</div>