<div class="disable-select" style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;opacity: 0.95;background: #3c3c3c;z-index: 1000;transition: all 0.25s ease-in-out 0s;" oncontextmenu="return false;">

    <div style="position: absolute;bottom: 30px;left: 50%;transform: translateX(-50%);color: #808080;font-size: 12px;text-align: center;">v2.0.0<br />&copy; 2021 Copyright malulleybovo</div>
    
    <div style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);max-width: 720px;font-weight: bold;min-width: 360px;text-align: center;">

        <h3>Options</h3>

        <div>SYMBOL ART TYPE</div>
        <div style="display: grid;grid-template-columns: 50% 50%;margin-top: 10px;">
            <div id="symbolarttypebutton" style="padding: 5px 0px 5px 10px;background: white;color: #3c3c3c;border-radius: 12px 0px 0px 12px;">SYMBOL ART</div>
            <div id="allianceflagtypebutton" style="padding: 5px 10px 5px 0px;background: white;color: #3c3c3c;border-radius: 0px 12px 12px 0px;">TEAM FLAG</div>
        </div>

        <div style="display: grid;grid-template-columns: 20% 40% 40%;margin-top: 24px;">
            <div style="text-align: right;padding: 5px 10px 5px 0px;">SAR</div>
            <div id="sarimportbutton" style="padding: 5px 0px 5px 10px;background: white;color: #3c3c3c;border-radius: 12px 0px 0px 12px;">IMPORT</div>
            <div id="sarexportbutton" style="padding: 5px 10px 5px 0px;background: white;color: #3c3c3c;border-radius: 0px 12px 12px 0px;">EXPORT</div>
        </div>
        <div style="text-align: right;font-size: 10px;margin-top: 6px;">USED WHEN IMPORTING IN GAME</div>

        <div style="display: grid;grid-template-columns: 20% 40% 40%;margin-top: 12px;">
            <div style="text-align: right;padding: 5px 10px 5px 0px;">SAML</div>
            <div id="samlimportbutton" style="padding: 5px 0px 5px 10px;background: white;color: #3c3c3c;border-radius: 12px 0px 0px 12px;">IMPORT</div>
            <div id="samlexportbutton" style="padding: 5px 10px 5px 0px;background: white;color: #3c3c3c;border-radius: 0px 12px 12px 0px;">EXPORT</div>
        </div>
        <div style="text-align: right;font-size: 10px;margin-top: 6px;">USED TO SAVE THIS PROJECT</div>

        <div style="display: grid;grid-template-columns: 60% 40%;margin-top: 12px;">
            <div style="text-align: right;padding: 5px 10px 5px 0px;">S.A. COMPONENT</div>
            <div id="importascomponentbutton" style="padding: 5px 0px 5px 0px;background: white;color: #3c3c3c;border-radius: 12px;">INCLUDE</div>
        </div>
        <div style="text-align: right;font-size: 10px;margin-top: 6px;">ADDS ANOTHER S.A.<br/>INTO THE PROJECT</div>
        
        <div id="closebutton" style="padding: 5px 10px 5px 10px;background: white;color: #3c3c3c;border-radius: 12px;margin-top: 12px;">CLOSE</div>

    </div>

</div>