<div class="disable-select" style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;opacity: 0.95;background: #3c3c3c;z-index: 1000;transition: all 0.25s ease-in-out 0s;" oncontextmenu="return false;">

    <div style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);max-width: 720px;font-weight: bold;min-width: 360px;text-align: center;">

        <h3>Sound Options</h3>

        <div>SOUND EFFECT TYPE</div>
        <div style="font-size: 11px;margin-top: 10px;">A preview sound will play upon selection.</div>
        <div style="display: grid;grid-template-columns: 50% 50%;margin-top: 12px;">
            <div id="sound1" style="padding: 5px 0px;background: white;color: #3c3c3c;margin: 5px;border-radius: 12px">NONE</div>
            <div id="sound2" style="padding: 5px 0px;background: white;color: #3c3c3c;margin: 5px;border-radius: 12px">NORMAL</div>
            <div id="sound3" style="padding: 5px 0px;background: white;color: #3c3c3c;margin: 5px;border-radius: 12px">JOY</div>
            <div id="sound4" style="padding: 5px 0px;background: white;color: #3c3c3c;margin: 5px;border-radius: 12px">ANGER</div>
            <div id="sound5" style="padding: 5px 0px;background: white;color: #3c3c3c;margin: 5px;border-radius: 12px">SORROW</div>
            <div id="sound6" style="padding: 5px 0px;background: white;color: #3c3c3c;margin: 5px;border-radius: 12px">UNEASE</div>
            <div id="sound7" style="padding: 5px 0px;background: white;color: #3c3c3c;margin: 5px;border-radius: 12px">SURPRISED</div>
            <div id="sound8" style="padding: 5px 0px;background: white;color: #3c3c3c;margin: 5px;border-radius: 12px">DOUBT</div>
            <div id="sound9" style="padding: 5px 0px;background: white;color: #3c3c3c;margin: 5px;border-radius: 12px">HELP</div>
            <div id="sound10" style="padding: 5px 0px;background: white;color: #3c3c3c;margin: 5px;border-radius: 12px">WHISTLE</div>
            <div id="sound11" style="padding: 5px 0px;background: white;color: #3c3c3c;margin: 5px;border-radius: 12px">EMBARASSED</div>
            <div id="sound12" style="padding: 5px 0px;background: white;color: #3c3c3c;margin: 5px;border-radius: 12px">NAILED IT!</div>
        </div>
        
        <div id="closebutton" style="padding: 5px 10px 5px 10px;background: white;color: #3c3c3c;border-radius: 12px;margin-top: 24px;">CLOSE</div>

    </div>

</div>